.post {
  padding: 120px 0 180px;
}
.post__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.post__card {
  width: calc(33.33333% - 20px);
  position: relative;
}
.post__card-img {
  width: 100%;
}
.post__card-management {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  margin: 16px 0 8px;
}
.post__card-marketing {
  color: var(--gray-700, #787A80);
  font-size: 14px;
  font-weight: 700;
}
.post__card-timing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--gray-700, #787A80);
  font-size: 14px;
  font-weight: 400;
}
.post__card-title {
  color: var(--gray-900, #1E212C);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.post__card-desc {
  color: var(--gray-800, #424551);
  font-weight: 400;
  line-height: 160%;
  margin: 8px 0 16px;
}
.post__card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  color: var(--gray-900, #1E212C);
  font-weight: 700;
}
.post__card-el {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  border-radius: 4px;
  background: var(--white, #FFF);
  color: var(--gray-800, #424551);
  font-size: 14px;
  font-weight: 400;
}