@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  list-style-type: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  padding: 13px 40px;
  border-radius: 4px;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  border: none;
  cursor: pointer;
}

.header {
  background-color: #ffdad5;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 30;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header__link {
  color: var(--gray-800, #424551);
  font-weight: 700;
}
.header__link:hover {
  color: #FF3F3A;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
}
.header__register {
  padding: 13px 10px;
  border-radius: 4px;
  background: transparent;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.header__svg {
  padding: 8px;
}
.header__register {
  background: transparent;
  color: #424551;
  font-weight: 700px;
  cursor: pointer;
  border: none;
}
.header__burgerMenu {
  display: none;
}
.header__burgerMenu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.header__burgerMenu-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__burger {
  width: 50px;
  height: 45px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  padding: 0 5px;
}
.header__burger span {
  width: 100%;
  height: 3px;
  background: #1E212C;
  position: relative;
  border-radius: 4px;
}
.header__burger span::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 3px;
  background: #1E212C;
  border-radius: 3px;
}
.header__burger span::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background: #1E212C;
  border-radius: 3px;
}
.header__burger.active span {
  background: transparent;
}
.header__burger.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__burger.active span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 992px) {
  .header__links, .header__right {
    display: none;
  }
  .header__burgerMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: -100%;
    width: 100%;
    background: #fff;
    padding: 20px 0;
    left: 0;
    border-radius: 0 0 20px 20px;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  .header__burgerMenu.active {
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 768px) {
  .header__burgerMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
}
@media (max-width: 500) {
  .header__burgerMenu-links a {
    font-size: 15px;
  }
}
@media (max-width: 425px) {
  .header__burgerMenu-links, .header__burgerMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
    text-align: center;
  }
}
.question {
  padding: 180px 0;
}
.question__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question__left {
  width: calc(60% - 54px);
}
.question__left-img {
  width: 100%;
}
.question__right {
  width: calc(40% - 81px);
}
.question__suptitle {
  color: #1E212C;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.question__title {
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 900;
  margin: 8px 0 40px;
}
.question__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  margin-bottom: 48px;
}
.question__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question__list-text {
  color: var(--gray-800, #424551);
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}

.enjoi {
  padding: 128px 0 80px;
  background-color: #ffdad5;
}
.enjoi__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.enjoi__left {
  width: 50%;
}
.enjoi__left-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.enjoi__left-y span {
  color: var(--gray-900, #1E212C);
  font-size: 14px;
  font-weight: 700;
}
.enjoi__left-title {
  color: var(--gray-900, #1E212C);
  font-size: 64px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  margin: 24px 0 60px;
}
.enjoi__left-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}
.enjoi__left-btn {
  color: #FF3F3A;
  padding: 13px 40px;
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--btn-gradient, #FF3F3A);
  letter-spacing: 0.5px;
}
.enjoi__right {
  width: 50%;
}
.enjoi__right img {
  width: 100%;
}
.enjoi__bottom {
  margin-top: 189px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.enjoi__bottom-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.enjoi__bottom-title {
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 900;
}
.enjoi__bottom-text {
  font-weight: 400;
}

.featured {
  padding-bottom: 180px;
}
.featured__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.featured__title {
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.featured__title span {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.featured__btn {
  color: #FF3F3A;
  background: transparent;
  border: 1px solid var(--btn-gradient, #FF3F3A);
}
.featured__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.featured__card {
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  border: 1px solid var(--gray-300, #E5E8ED);
  background: var(--white, #FFF);
  -webkit-box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
          box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.featured__card-info {
  padding: 32px;
}
.featured__card-text {
  width: 50%;
  padding: 0 8px;
  color: var(--white, #FFF);
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  display: inline-block;
  border-radius: 4px;
}
.featured__card-text.green {
  background: #03CEA4;
}
.featured__card-text.blue {
  background: #5A87FC;
}
.featured__card-text.oreng {
  background: #F89828;
}
.featured__card-text.red {
  background: #F52F6E;
}
.featured__card-title {
  color: var(--gray-900, #1E212C);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%; /* 30px */
  margin: 20px 0;
}
.featured__card-price {
  color: var(--gray-700, #787A80);
  font-size: 18px;
  font-weight: 400;
}
.featured__card-price span {
  color: var(--danger, #FF4242);
  font-weight: 700;
}

@media (max-width: 886px) {
  .featured__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .featured__card-img {
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 576px) {
  .featured__card-img {
    max-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 500px) {
  .featured__card {
    max-width: 100%;
  }
}
.team {
  padding: 166px 0 180px;
  background: #f4f5f6;
}
.team__card {
  width: 100%;
}
.team__card-title {
  color: var(--gray-800, #424551);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 16px 0 4px;
}
.team__card-desc {
  color: var(--gray-700, #787A80);
  text-align: center;
  font-weight: 400;
}
.team__card-block {
  border-radius: 4px;
  background: var(--secondary, #FFCF2D);
  position: relative;
  height: 340px;
  overflow: hidden;
}
.team__card-block::before {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(43.9%, rgba(30, 33, 44, 0)), color-stop(55.21%, rgba(30, 33, 44, 0.03)), color-stop(68.73%, rgba(30, 33, 44, 0.33)), color-stop(76.17%, rgba(30, 33, 44, 0.56)), color-stop(83.75%, rgba(30, 33, 44, 0.77)), color-stop(91.49%, rgba(30, 33, 44, 0.92)), to(#1E212C));
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
}
.team__card-block:hover::before {
  display: block;
}
.team__card-block:hover .team__card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__card-icon svg path {
  fill: rgba(255, 255, 255, 0.3764705882);
}
.team__card-icon:hover svg path {
  fill: #ffffff;
}
.team__card-icons {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: none;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  z-index: 3;
}
.team__card-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.team__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__next, .team__prev {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.team__next svg path, .team__prev svg path {
  fill: #424551;
}
.team__next:hover, .team__prev:hover {
  background: #FF3F3A;
}
.team__next:hover svg path, .team__prev:hover svg path {
  fill: #fff;
}
.team__swiper {
  margin-top: 60px;
}

.benefits {
  padding-bottom: 120px;
}
.benefits__title {
  color: var(--gray-900, #1E212C);
  text-align: center;
  font-size: 46px;
  font-weight: 900;
  margin: 8px 0 60px;
}
.benefits__suptitle {
  color: var(--gray-900, #1E212C);
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
.benefits__list-item {
  color: var(--gray-600, #9A9CA5);
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  padding: 10px 30px;
  border: 1px solid transparent;
  cursor: pointer;
}
.benefits__list-item span path {
  fill: #9A9CA5;
}
.benefits__list-item:hover, .benefits__list-item.active {
  color: #FF3F3A;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
}
.benefits__list-item:hover span path, .benefits__list-item.active span path {
  fill: #FF3F3A;
}
.benefits__content {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 135px;
     -moz-column-gap: 135px;
          column-gap: 135px;
}
.benefits__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.benefits__info {
  width: 50%;
}
.benefits__info-title {
  color: var(--gray-900, #1E212C);
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 24px;
}
.benefits__info-desc {
  color: var(--gray-800, #424551);
  font-weight: 400;
  line-height: 160%;
}
.benefits__right {
  width: 50%;
}
.benefits__right-img {
  width: 100%;
}

.events {
  padding: 80px 0 85px;
  background: #ffdad5;
}
.events__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  margin-bottom: 65px;
}
.events__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 4px;
  background: var(--white, #FFF);
  padding: 32px 40px;
}
.events__list-item:hover {
  -webkit-box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 80px 80px -20px rgba(255, 63, 58, 0.16);
          box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 80px 80px -20px rgba(255, 63, 58, 0.16);
}
.events__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--primary, #FF3F3A);
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1px;
}
.events__date-info {
  color: var(--gray-900, #1E212C);
  font-size: 20px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
}
.events__date-info span {
  color: var(--gray-700, #787A80);
  font-size: 16px;
  font-weight: 400;
}
.events__info {
  color: var(--gray-900, #1E212C);
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4px;
  width: 720px;
  text-align: start;
}
.events__info span {
  color: var(--gray-700, #787A80);
  font-size: 16px;
  font-weight: 400;
}
.events__btn {
  letter-spacing: 0.5px;
  padding: 13px 32px;
  border-radius: 4px;
  color: #FF3F3A;
  background: transparent;
  border: 1px solid var(--btn-gradient, #FF3F3A);
  -webkit-box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 80px 80px -20px rgba(255, 63, 58, 0.16);
          box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 80px 80px -20px rgba(255, 63, 58, 0.16);
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}
.events__btn:hover {
  background: #ff3f3a;
  color: #FFFFFF;
}
.events__btn:hover .events__list-item {
  -webkit-box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 80px 80px -20px rgba(255, 63, 58, 0.16);
          box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 80px 80px -20px rgba(255, 63, 58, 0.16);
}
.events__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.events__title {
  color: var(--gray-900, #1E212C);
  font-size: 28px;
  font-weight: 700;
}
.events__btns {
  border-radius: 4px;
  color: var(--white, #FFF);
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
  font-size: 16px;
  width: 215px;
  height: 52px;
  padding: 0 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  border: 1px solid transparent;
}

.config {
  padding: 120px;
}
.config__left {
  width: 40%;
}
.config__suptitle {
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.config__title {
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 900;
}
.config__desc {
  padding-top: 48px;
  color: var(--gray-800, #424551);
  font-weight: 400;
  line-height: 160%;
}
.config__logo {
  width: 50%;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.config__logo-img {
  width: 100%;
}
.config__right {
  width: 60%;
  position: relative;
}
.config__right-img {
  width: 100%;
  position: absolute;
  left: 70%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.say {
  padding: 100px 0;
  background: var(--gray-200, #F4F5F6);
}
.say .swiper {
  width: 85%;
}
.say .swiper-button-prev:hover {
  width: 48px;
  height: 48px;
  background: var(--primary, #FF3F3A);
  border-radius: 50%;
}
.say .swiper-button-prev:hover svg path {
  fill: white;
}
.say .swiper-button-prev::after {
  content: "";
}
.say .swiper-button-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.say .swiper-button-next::after {
  content: "";
}
.say .swiper-button-next:hover {
  width: 48px;
  height: 48px;
  background: var(--primary, #FF3F3A);
  border-radius: 50%;
}
.say .swiper-button-next:hover svg path {
  fill: white;
}
.say__subtitle {
  color: var(--gray-900, #1E212C);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.say__title {
  color: var(--gray-900, #1E212C);
  text-align: center;
  font-size: 46px;
  font-weight: 900;
  margin: 8px 0 85px;
}
.say__card {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: var(--white, #FFF);
  padding: 64px 105px 64px 163px;
  -webkit-box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
          box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.say__card-desc {
  color: var(--gray-800, #424551);
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}
.say__card-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.say__card-user-name {
  color: var(--gray-900, #1E212C);
  font-size: 16px;
  font-weight: 700;
}
.say__card-user-name span {
  color: var(--gray-700, #787A80);
  font-size: 14px;
  font-weight: 400;
}

.our {
  padding: 80px 120px;
}
.our__subtitle {
  color: var(--gray-900, #1E212C);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 80px;
}
.our__title {
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 900;
  text-align: center;
  margin: 8px 0 60px;
}
.our__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
.our__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.our__categories-item {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid var(--primary, transparent);
  color: var(--gray-600, #9A9CA5);
  font-weight: 700;
}
.our__categories-item:hover {
  border-radius: 4px;
  color: #ff3f3a;
  border: 1px solid var(--primary, #FF3F3A);
}
.our__categories-item:hover sup {
  color: #ff3f3a;
}
.our__lable {
  position: relative;
}
.our__lable::before {
  content: "";
}
.our__search {
  width: 315px;
  padding: 11px 16px 12px 16px;
  border-radius: 4px;
  border: 1px solid var(--gray-400, #D7DADD);
  background: var(--white, #FFF);
}
.our__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.our__row .featured__card {
  width: calc(33.33333% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.our__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  color: var(--gray-800, #424551);
  border: none;
  margin: 0 auto;
  margin-top: 80px;
  background: transparent;
  font-weight: 700;
}

.subscribe {
  background: #ffdad5;
  padding: 120px;
  position: relative;
}
.subscribe__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subscribe__suptitle {
  color: var(--gray-900, #1E212C);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.subscribe__title {
  text-align: center;
  color: var(--gray-900, #1E212C);
  font-size: 46px;
  font-weight: 900;
  padding-bottom: 60px;
}
.subscribe__form {
  text-align: center;
  padding-top: 60px;
}
.subscribe__label {
  padding-right: 24px;
}
.subscribe__field {
  padding: 15px 220px 15px 16px;
  border: none;
}
.subscribe__btns {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
  color: var(--white, #FFF);
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  margin-left: 24px;
  cursor: pointer;
}
.subscribe__left {
  position: absolute;
  left: 0;
  bottom: 0;
}
.subscribe__right {
  position: absolute;
  right: 0;
  bottom: 0;
}

.post {
  padding: 120px 0 180px;
}
.post__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-top: 60px;
}
.post__card {
  width: calc(33.33333% - 20px);
  position: relative;
}
.post__card-img {
  width: 100%;
}
.post__card-management {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  margin: 16px 0 8px;
}
.post__card-marketing {
  color: var(--gray-700, #787A80);
  font-size: 14px;
  font-weight: 700;
}
.post__card-timing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--gray-700, #787A80);
  font-size: 14px;
  font-weight: 400;
}
.post__card-title {
  color: var(--gray-900, #1E212C);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.post__card-desc {
  color: var(--gray-800, #424551);
  font-weight: 400;
  line-height: 160%;
  margin: 8px 0 16px;
}
.post__card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  color: var(--gray-900, #1E212C);
  font-weight: 700;
}
.post__card-el {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 4px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  border-radius: 4px;
  background: var(--white, #FFF);
  color: var(--gray-800, #424551);
  font-size: 14px;
  font-weight: 400;
}

.footer {
  background: var(--gray-900, #1E212C);
}
.footer__nav {
  padding: 80px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.footer__left {
  width: 30%;
}
.footer__left-info {
  color: var(--white, #FFF);
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  margin: 24px 0 38px;
}
.footer__left-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.footer__left-link svg path {
  fill: rgba(255, 255, 255, 0.3764705882);
}
.footer__left-link:hover svg path {
  fill: #FFFFFF;
}
.footer__center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
}
.footer__center-title {
  color: var(--white, #FFF);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.footer__center-item {
  padding: 8px 0;
}
.footer__center-item a {
  color: var(--white, #FFF);
  font-weight: 400;
}
.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
}
.footer__right-title {
  color: var(--white, #FFF);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 12px;
}
.footer__right-email {
  color: var(--white, #FFF);
  font-size: 12px;
  font-weight: 400;
  padding: 9px 12px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.12);
  width: 286px;
  height: 36px;
}
.footer__right-desc {
  color: var(--white, #FFF);
  font-size: 10px;
  font-weight: 400;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.05;
  background: var(--white, #FFF);
}
.footer__bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white, #FFF);
  font-size: 12px;
  font-weight: 400;
}
.footer__bottom-suptitle {
  color: var(--white, #FFF);
  font-size: 14px;
  font-weight: 700;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  background: rgba(30, 33, 44, 0.4588235294);
}

.popup {
  position: relative;
  width: 486px;
  padding: 48px 0;
  border-radius: 4px;
  border: 1px solid var(--gray-300, #E5E8ED);
  background: var(--white, #FFF);
  -webkit-box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 60px 80px -20px rgba(30, 33, 44, 0.16);
          box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 60px 80px -20px rgba(30, 33, 44, 0.16);
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
}
.popup__form {
  padding: 0 48px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popup__form-title {
  color: var(--gray-900, #1E212C);
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
.popup__form-desc {
  color: var(--gray-700, #787A80);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  margin: 24px 0;
}
.popup__form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  margin-bottom: 20px;
}
.popup__form-field {
  border-radius: 4px;
  border: 1px solid var(--gray-400, #D7DADD);
  background: var(--white, #FFF);
  height: 44px;
  padding-left: 16px;
  outline: navajowhite;
}
.popup__form-field::-webkit-input-placeholder {
  color: var(--gray-600, #9A9CA5);
  font-size: 14px;
  font-weight: 400;
}
.popup__form-field::-moz-placeholder {
  color: var(--gray-600, #9A9CA5);
  font-size: 14px;
  font-weight: 400;
}
.popup__form-field:-ms-input-placeholder {
  color: var(--gray-600, #9A9CA5);
  font-size: 14px;
  font-weight: 400;
}
.popup__form-field::-ms-input-placeholder {
  color: var(--gray-600, #9A9CA5);
  font-size: 14px;
  font-weight: 400;
}
.popup__form-field::placeholder {
  color: var(--gray-600, #9A9CA5);
  font-size: 14px;
  font-weight: 400;
}
.popup__form-labelCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--primary, #FF3F3A);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 24px;
}
.popup__form-labelCheck div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  color: #424551;
}
.popup__socials {
  padding-top: 24px;
  border-top: 1px solid #E5E8ED;
}
.popup__socials-text {
  color: var(--gray-700, #787A80);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
.popup__socials-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
.popup__socials-link:hover {
  fill: #FF3F3A;
}
.popup__socials-link:hover svg path {
  fill: #787A80;
}