.subscribe{
    background: #ffdad5;
    padding: 120px;
    position: relative;
  &__row{
    align-items: center;
  }
    &__suptitle{
      color: var(--gray-900, #1E212C);
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-bottom: 8px;
    }
    &__title{
      text-align: center;
      color: var(--gray-900, #1E212C);
      font-size: 46px;
      font-weight: 900;
      padding-bottom: 60px;
    }
    &__form {
      text-align: center;
      padding-top: 60px;
    }
    &__label{
      padding-right: 24px;
    }
      &__field {
        padding: 15px 220px 15px 16px;
        border:none;
      }
    &__btns{
      display: inline-flex;
      padding: 0 40px;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      border-radius: 4px;
      background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
      color: var(--white, #FFF);
      border: none;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 52px;
      letter-spacing: 0.5px;
      margin-left: 24px;
      cursor: pointer;
    }
    &__left{
      position: absolute;
      left: 0;
      bottom: 0;
    }
    &__right{
      position: absolute;
      right: 0;
      bottom: 0;
  }
  }